[package]
name = "xray-lite-ebpf"
version = "0.1.0"
edition = "2021"

[dependencies]
aya-ebpf = "0.1.0"
aya-log-ebpf = "0.1.0"

[[bin]]
name = "xray-lite-ebpf"
path = "src/main.rs"

[profile.release]
lto = true
panic = "abort"
codegen-units = 1

[workspace]
members = []
